<h4>Orders list:</h4>
<br />
<% @orders.each do |order| %>
  <p>Product Name: <%= order.product.title %></p>
  <p>User: <%= order.user.email %></p>
  <p>Status: <%= order.status %></p>
  <hr />
<% end %>

<a href="/products">Produtos</a>
